<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>    
   </head>
<body>
    
    <header>
        <img src="images/logo-mercado-liebre.svg" alt="logo">
        <div class="barra-busqueda">Buscar productos, marcas</div>
        
        <span class="fa-stack busqueda">
            <i class="fa-solid fa-magnifying-glass"></i>
        </span>
        
        
                  
        <div class="compra"><i class="fa-solid fa-hand-holding-dollar">Compra en cuotas y sin tarjeta de credito</i></div>
        <p>
        <div> 
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li> 
        </div>
        </p>  
            
        <p>
        <div>
                <li>Crea tu cuenta<i class="fa-regular fa-id-card"></i></li>
                <li>Ingresa<i class="fa-solid fa-arrow-right-from-bracket"></i></li>
                <li>Mis compras<i class="fa-solid fa-basket-shopping"></i></li>
        </div>
        </p>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
            
    </header>

    <main>
        <div>
        <p class="titulares">Seccion: Basado en tu ultima visita</p>
            <ul>
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera">
                <li class="precios">$6.770</li>
                <li class="descuentos">40% off</li>
                <li class="descripciones">Cafetera Moulinex</li>        
            </ul>
            <ul>
                <img src="images/img-macbook-pro-2019.jpg" alt="macbook pro 2019">
                <li class="precios">$230.000</li>
                <li class="descuentos">20% off</li>
                <li class="descripciones">MacBook Pro 2019</li>        
            </ul>
            <ul>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
                <li class="precios">$70.500</li>
                <li class="descuentos">10% off</li>
                <li class="descripciones">Samsung Galaxy S10</li>        
            </ul>
            <ul>
                <img src="images/img-tv-samsung-smart.jpg" alt="smart tv">
                <li class="precios">$23.200</li>
                <li class="descuentos">5% off</li>
                <li class="descripciones">SmartTv Samsung 43"</li>        
            </ul>
        </div>
        <div>
            <p class="titulares">Seccion: Ofertas</p>
                <ul>
                    <img src="images/img-cafetera-moulinex.jpg" alt="cafetera">
                    <li class="precios">$6.770</li>
                    <li class="descuentos">40% off</li>
                    <li class="descripciones">Cafetera Moulinex</li>        
                </ul>
                <ul>
                    <img src="images/img-macbook-pro-2019.jpg" alt="macbook pro 2019">
                    <li class="precios">$230.000</li>
                    <li class="descuentos">20% off</li>
                    <li class="descripciones">MacBook Pro 2019</li>        
                </ul>
                <ul>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
                    <li class="precios">$70.500</li>
                    <li class="descuentos">10% off</li>
                    <li class="descripciones">Samsung Galaxy S10</li>        
                </ul>
                <ul>
                    <img src="images/img-tv-samsung-smart.jpg" alt="smart tv">
                    <li class="precios">$23.200</li>
                    <li class="descuentos">5% off</li>
                    <li class="descripciones">SmartTv Samsung 43"</li>        
                </ul>
            </div>
   </main>

    <footer>
        <div>
                <p>Pagá con tarjeta o en efectivo</p>
        </div>
                <span class="cuerpotexto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</span>
            
        
        <div>
            
                <p>Envío gratis desde $ 2.500</p>
        </div>
                <p class="cuerpotexto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            
        
        <div>
            <ul>
                <li>Seguridad, de principio a fin</li>
                <p class="cuerpotexto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </ul>
        </div> 
        <div>
            <ul>
                <li>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
            </ul>
        </div>
    </footer>

</body>
</html>